/* design and css by Scott Good scott.good@us.ibm.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
 
html body.lotusui30_body {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",Roboto, "Arial",sans-serif;
}
.lotusui30_body .ics-scbanner {
    background: rgba(0,0,0,0.8);
}
body.lotusui30 .lotusPostContent .lotusPostAction .vcard,
body.lotusui30 .lotusBoard .lotusStream #activityStreamMain.lotusWidgetBody .lotusPost,
body.lotusui30 .lotusStream .lotusWidgetBody#activityStreamMain .lotusPostContent .fileMeta .inlineSepList li,
body.lotusui30 .lotusMenu li a, 
body.lotusui30 .lotusMenu li a:visited {
    font-size: 14px;
    font-weight: 300;
}
body #activityStreamHeader.lotusHeader {
    font-size: 14px;
    font-weight: 300;
}
body.lotusui30 .lotusColRight .lotusSection2 .lotusHeading, .lotusui30 .lotusColRight .lotusSection2 .lotusHeading2 {
    font-size: 14px;
    font-weight: 400;
}
body .lotusWarningMsgs {
    font-size: 13px;
    font-weight: 300;
}
@media screen and (max-width: 1024px) {
    .lotusWrapper {
        background: none;
    }
}