/* design and css by Scott Good scott.good@us.ibm.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
 
/* all navigation at top of page */
.lotusui30 .lotusInlinelist {
    margin: 2px 0 0 0;
}
.lotusui30 .lotusBanner .lotusLogo {
    display: block;   
}
/* main nav bar at top */
.lotusui30 div.lotusBanner .lotusRightCorner {
	height: 46px;
}
.lotusui30_body .lotusFrame {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 44px;
    width: 100%;
	height: 30vw;
}
body.FlyOut div#xccBody.container {
    margin-top: 20px;
}
.lotusTitleBar .lotusInner, .lotusTitleBar2 .lotusInner {
    overflow: hidden;
}
div.adminpanel {
    margin: 60px 0 0 0;
}
.edit .custlink_fixed {
    top: 55px;
}
.btn-group > button.btn.disabledEditMode {
    margin-top: 20px;
}
.btn-group > button.btn.disabledEditMode.enabledEditMode {
    margin-top: -10px;
}
.navtop .navigation {
    margin: 68px 0 1px 0;
}
.navtop .maindrop li a {
    font-size: 12px;
    text-transform: uppercase;
}
/* selected item in navigation menu */
.navtop .subdrop {
    display: none;
    left: -1px;
    position: absolute;
    top: 25px;
}
.lotusui30 .lotusBanner img.lotusDropDownSprite {
    opacity: 0.3;
    filter: alpha(opacity=30);
    margin-left: 3px;
}
.navtop .navigation {
    margin-right:0;
}
/* drop-down menu icons ... made gray */
.lconnSprite-iconActivitiesBlue16 {
    background-position: 0 -24px;
}
.lconnSprite-iconBlogsBlue16 {
    background-position: 0 -72px;
}
.lconnSprite-iconBookmarksBlue16 {
    background-position: 0 -120px;
}
.lconnSprite-iconFilesBlue16 {
    background-position: 0 -169px;
}
.lconnSprite-iconForumsBlue16 {
    background-position: 0 -240px;
}
.lconnSprite-iconWikisBlue16 {
    background-position: 0 -360px;
}
.xccCommunityOverview .newsOverviewContainer, 
.xccNewsOverview .newsOverviewContainer {
    height: auto;
}
.lotusui30 .lotusBanner .lotusIBMLogo,
#headerHelpLink img {
    position: relative;
    top: -3px;
}
.lotusui30 .lotusBanner ul.lotusInlinelist li#lotusBannerNotifications {
    position: relative;
    top: 3px;
}
/* Center Video fix */
.video-container {
    padding-top: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
} 
/* end drop-down menu icons */
.container, .ui-widget {
   font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",Roboto, "Arial",sans-serif;
}
.container a:not(.xccStaticLink):not(.download), 
.container a:not(.xccStaticLink):not(.download):visited, 
.ui-widget a:not(.xccStaticLink):not(.download), 
.ui-widget a:not(.xccStaticLink):not(.download):visited {
    font-size: 13px;
}
.container h4, .ui-widget h4 {
    font-size: 1.05em;
    font-weight: 700;
    margin: 0 1em 4px 0;
}
.xcctabbedwidget .qlC .qlLinks a {
    padding: 5px 0 5px 10px;
}
.xcctabbedwidget .qlC .qlLinks a.rss-link {
    padding: 5px 0 5px 0;
}
.xcctabbedwidget .qlC .qlLinks a::before {
    content: " -  ";
}
.xcctabbedwidget .qlC .qlLinks a.rss-entry-inner::before,
.xcctabbedwidget .qlC .qlLinks a.rss-link::before,
.xcctabbedwidget .qlC .qlLinks .xcc-pager a::before {
    content: "";
}
.rss-headline {
    font-weight: 600;
}
.xcctabbedwidget .qlC .qlLinks .xcc-pager a {
    padding: 0;
}
.h3, h3 {
    font-size: 1vw;
}
.xccWidget[data-wtype="Activity Stream"] .maindiv .stream .ASWidgetMainNavi .ASWidgetLeftNaviPart a, 
.xccWidget[data-wtype="Activity Stream"] .maindiv .stream .ASWidgetMainNavi .ASWidgetRightNaviPart a, 
.chpFlyout .maindiv .stream .ASWidgetMainNavi .ASWidgetLeftNaviPart a, 
.chpFlyout .maindiv .stream .ASWidgetMainNavi .ASWidgetRightNaviPart a,
.xccWidget[data-wtype="Activity Stream"] .ASWidgetMainNavi, 
.chpFlyout .ASWidgetMainNavi {
    padding: 10px;
}
.xccWidget[data-wtype="Activity Stream"] nav.ASWidgetMainNavi, 
.chpFlyout nav.ASWidgetMainNavi {
    margin-top: 15px;
    padding:0;
}
.xccWidget .btn {
    font-size: 0.95em;
}
.xccSource, .xccSource a {
    font-size: 11px!important;
}
.xccWidget[data-wname=ColleagueProfile][data-wtype=lc] .entry .lotusLeft {
    font-size: 0.9em;
}
.xccWidget {
    margin: 25px 0 0 0;
}
.xccWidget .wheader .wtitle {
    color: black;   
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",Roboto, "Arial",sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.rss-thumb-right,
.rss-thumb-left {
    max-width: 100%;
}
.xccWidget .wheader {
    border-bottom: none;
}
.navtop .navigation {
    border: none;
}
.navtop .maindrop li:last-child a {
    border-right: none;
}
.lotusui30_fonts {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",Roboto, "Arial",sans-serif;
}
.lotusui30 a:active,
.lotusui30 a:hover,
.lotusui30 a:focus {
    text-decoration:none;
}
.lotusTitleBar .lotusSearch .lotusLayout, .lotusTitleBar2 .lotusSearch .lotusLayout {
    display: none;
}
.lotusTitleBar2 {
    height: 0;
}

.lotusui30 .lotusTitleBar2 .lotusHeading .lotusText {
    display:none;
}
.container .breadcrumb a:not(.xccStaticLink):not(.download):hover {
    text-decoration: underline;
}
.breadcrumb::before {
    content: "You are here: "
}
.breadcrumb>li:first-of-type {
    padding-left: 5px;
}

/* - - - - - - - - - - -  */ 

@media screen and (max-width: 1024px) {
    .lotusWrapper {
        background: none;
    }
}
.lotusui30_fonts {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",Roboto, "Arial",sans-serif;
}
.lotusTitleBar .lotusSearch .lotusLayout, .lotusTitleBar2 .lotusSearch .lotusLayout {
    display: none;
}
.lotusTitleBar2 {
    height: 0;
}
.FlyOut .btn-group>.btn:first-child {
    top: 30px;
}

.container:not(.container .xcc-pers-prop) {
    top: -45px;
}

@media screen and (max-width: 1024px) {
    .lotusWrapper {
        background: none;
    }
}