/* design and css by Scott Good scott.good@us.ibm.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
 
html body.lotusui30_body {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica",Roboto, "Arial",sans-serif;
}
.lotusui30_body .ics-scbanner {
    background: rgba(0,0,0,0.8);
}


@media screen and (max-width: 1024px) {
    .lotusWrapper {
        background: none;
    }
}