/* blogs.css */

.lotusui30 a, 
.lotusui30 a:visited, 
div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a, 
div#dropdownSubMenuContainer div#dropdownSubMenuTitle li a, 
a {
    color: slategray;
}
.redBorder {
    border: 1pt solid red;
}
.blueBorder {
    border: 1pt solid blue;
}
.greenBorder {
    border: 1pt solid green;
}
.blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware {
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size: 18.0pt;
    color: #4b0082;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1pt solid #ddd; 
}

.blogsFixedTable .entryContentContainerTD.blogsWrapText .lotusMeta.lotusLeft,
.lotusLayout.lotusHeader.blogsWrapText h1 {
    display:none;
}

.blog .entryContentContainer.blogsWrapText {
    margin-top: 0;
}

.lotusui30_body .lotusMain,
.lotusui30_body .lotusFrame {
    min-width: 0; 
}
 
.lotusui30_layout .lotusColRight {
    width: 18%;
    max-width: 250px;
}
.lotusui30_layout .lotusColLeft {
    width: 18%;
    max-width: 220px;
    background: white;
}

.lotusui30_layout .lotusColLeft:after {
    border-left: 1000vw solid white;
    background: none;
    border-right: none;
    margin-left: -980vw;
}

div#dropdownNavMenuContainer, div#dropdownSubMenuContainer {
    width: 90%;
}
div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
    max-width: 8vw;
    white-space: normal;
}

.lotusui30 div.lotusPlaceBar h2 {
    margin-left: 20vw;
}
.lotusui30 .lotusLike {
    top: -30px;
    position: relative;
}