@import url('https://rawgit.com/JSG1901/Muse/master/coreDesign.css');

body.lotusui30_body {
    background: #ffb130 url(https://images.unsplash.com/photo-1489710437720-ebb67ec84dd2);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}
/* blogs.css */
body.lotusliveui, 
body.lotusliveui30, 
body.scloud3 {
    font: normal 1.4em/1.5 Tahoma,Helvetica, Arial, Roboto, sans-serif;
}

.blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware a {
    border-bottom:none;   
}
.blogsFixedTable .entryContentContainerTD.blogsWrapText .lotusMeta.lotusLeft,
.lotusLayout.lotusHeader.blogsWrapText h1 {
    display:none;
}
.blog .entryContentContainer.blogsWrapText {
    margin-top: 0;
}

ul#blogsActionBar {
    position: absolute;
    left: 80vw;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}
ul#blogsActionBar li {
    display:block;
    margin: 0;
    padding: 0;
    border: none;
}
body .lotusui30_layout .lotusColLeft {
    margin-top: 100px;
}
body .lotusui30_layout .lotusColLeft:after {
    border-left:none;
    border-right:none;
}
body.lotusui30 span.lotusBtn {
    float:right;
}
body.lotusui30 .lotusMain span.lotusBtn a {
    background-color: rgba(225,131,0,0.6);
    color: white;
    box-shadow: 0 0 0 1px #eee inset;
    margin-top: 10px;
    font-family: Courier, "Helvetica Neue",Helvetica,sans-serif;
}
body div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a, 
body div#dropdownSubMenuContainer div#dropdownSubMenuTitle li a {
    border: none;
}
body.lotusui30 div.lotusTitleBar .lotusInner .lotusHeading {
    display:none;
}
body.lotusui30_body .lotusMain {
    min-width: 0;
    margin-top: 30px;
}
body.lotusui30_body #lotusContent #entries .lotusTable.blogsFixedTable td,
body.lotusui30_body .lotusui30 .lotusMenu,
body .lotusui30_layout .lotusColRight .lotusSection {
    background: rgba(152,99,62,0.6);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 1vw;
}
body.lotusui30_body #lotusContent #entries .lotusTable.blogsFixedTable td {
    border-bottom: 15px solid transparent;
    padding: 15px 30px;
}
body .blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware, 
body .blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware a,
body.lotusui30 .lotusColRight .lotusSection2 .lotusHeading, 
body.lotusui30 .lotusColRight .lotusSection2 .lotusHeading2 {
    font-family: Courier, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 24pt;
    line-height: 24.0pt;
    color: white;
    font-weight: 300;
    padding-top: 15px;
    width: 85%;
}
body.lotusui30 .lotusMenu li.lotusSelected:first-child a,
body.lotusui30 .lotusMenu li a, 
body.lotusui30 .lotusMenu li a:visited {
    font-family: Courier, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 16pt;
    line-height: 24.0pt;
    color: white;
    font-weight: 300;
    padding-top: 15px;
}
body div#dropdownNavMenuContainer div#dropdownNavMenu li a:hover, 
body div#dropdownNavMenuContainer div#dropdownNavMenu li a:focus, 
body div#dropdownNavMenuContainer div#dropdownNavMenu li:focus a, 
body div#dropdownNavMenuContainer div#dropdownNavMenu li.lotusSelected a, 
body div#dropdownSubMenuContainer div#dropdownSubMenu li a:hover, 
body div#dropdownSubMenuContainer div#dropdownSubMenu li a:focus, 
body div#dropdownSubMenuContainer div#dropdownSubMenu li:focus a, 
body div#dropdownSubMenuContainer div#dropdownSubMenu li.lotusSelected a {
    background: #e49106;
}
body div#dropdownNavMenuContainer div#dropdownNavMenu li a, 
body div#dropdownNavMenuContainer div#dropdownNavMenu li a:before, 
body div#dropdownNavMenuContainer div#dropdownNavMenu div#subcommArea .lotusMenuSection h3, 
body div#dropdownSubMenuContainer div#dropdownSubMenu li a, 
body div#dropdownSubMenuContainer div#dropdownSubMenu li a:before, 
body div#dropdownSubMenuContainer div#dropdownSubMenu div#subcommArea .lotusMenuSection h3 {
    width: 100%;
}
body div#dropdownNavMenuContainer div#dropdownNavMenu, 
body div#dropdownSubMenuContainer div#dropdownSubMenu {
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    width: 188px;
    z-index: 5;
    background-color: rgba(228,145,6,0.5);
    border: 1px solid rgb(228,145,6);
}

body.lotusui30 a, 
body.lotusui30 a:visited, 
body div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a, 
body div#dropdownSubMenuContainer div#dropdownSubMenuTitle li a, a {
    color: white;
}
body.lotusui30 .lotusSort,
body.lotusui30 .lotusSort a {
    font-weight: 300;
    font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
    color:black;
}
body.lotusui30 .lotusPaging, 
body.lotusui30 .lotusPaging div, 
body.lotusui30 .lotusPaging input, 
body.lotusui30 .lotusPaging ul li {
    color: black;
    font-weight: 300;
    font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
}
body div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a {
    background-color: rgba(152,99,62,0.6);
}
body .hikari.ics-scbanner > a, 
body .hikari.ics-scbanner > a:visited, 
body .hikari.ics-scbanner > a:hover, 
body .hikari.ics-scbanner > a:focus, 
body .hikari.ics-scbanner > a:active, 
body .gen4.ics-scbanner > a, 
body .gen4.ics-scbanner > a:visited, 
body .gen4.ics-scbanner > a:hover, 
body .gen4.ics-scbanner > a:focus, 
body .gen4.ics-scbanner > a:active, 
body .colour.ics-scbanner > a, 
body .colour.ics-scbanner > a:visited, 
body .colour.ics-scbanner > a:hover, 
body .colour.ics-scbanner > a:focus, 
body .colour.ics-scbanner > a:active,
body .ics-scbanner {
    color: black !important;
}
body .hikari.ics-scbanner > a.selected {
    color: white;
    font-weight: 800;
}

body.lotusui30 .dijitTitlePaneTitle, 
body.lotusui30 .lotusSection h2, 
body.lotusui30 .lotusWidget h2, 
body.lotusui30 .lotusWidget2 h2 {
    color: white;
}
body.lotusui30 div.lotusPlaceBar h2 {
    font-family: Courier, "Helvetica Neue Light",Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 35px 25px 50px 85px;
    color: white;
    font-size: 2.7em;
    position: absolute;
    top: -48px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    left: 0;
    background: url(http://rawgit.com/JSG1901/Muse/master/BrownPaperBG.png);
    background-size: 100% 100%;
    width: 75%;
}
.communities-widget-appearance .lotusui30 .lconnCommLogo img.discussCommunityLogo {
    display:none;
}
body.lotusui30 .lotusPlaceBar .lotusInlinelist li a, 
body.lotusui30 .lotusPlaceBar .lotusInlinelist li a:visited {
    color: black;
    margin-left: 0;
    margin-right: 0;
    font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
}
body.lotusui30 .dijitTitlePaneTitle, 
body.lotusui30 .lotusSection h2, 
body.lotusui30 .lotusWidget h2, 
body.lotusui30 .lotusWidget2 h2 {
    font-family: Courier, "Helvetica Neue Light",Helvetica,Arial,sans-serif;
}

@media(max-width:768px) {
    
}
@media(min-width: 660px) {
    /* break to bootstrap xs (xxs was added to be smaller) */
    
}
@media(min-width: 725px) {
    /* custom break */
     
}
@media(min-width: 768px) {
    /* break to bootstrap sm */ 
    
}
@media(min-width: 992px) {
    /* break to bootstrap md */
    
}
@media(min-width: 1200px) {
    /* break to bootstrap lg */
    
}



@media(max-width: 660px) {
    #lotusColRight {
        display:none;
    }
}
@media(max-width:1200px) {
    ul#blogsActionBar {
        top:0;
    }
}