@import url('https://rawgit.com/JSG1901/Muse/master/coreDesign.css');

body.lotusui30_body {
    background: #e49106 url(https://images.unsplash.com/photo-1489710437720-ebb67ec84dd2);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}
/* blogs.css */
body.lotusliveui, 
body.lotusliveui30, 
body.scloud3 {
    font: normal 1.25em/1.5 "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
}

.blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware a {
    border-bottom:none;   
}
.blogsFixedTable .entryContentContainerTD.blogsWrapText .lotusMeta.lotusLeft,
.lotusLayout.lotusHeader.blogsWrapText h1 {
    display:none;
}
.blog .entryContentContainer.blogsWrapText {
    margin-top: 0;
}

ul#blogsActionBar {
    position: absolute;
    left: 80vw;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}
ul#blogsActionBar li {
    display:block;
    margin: 0;
    padding: 0;
    border: none;
}
body .lotusui30_layout .lotusColLeft {
    xbackground-color: white;
}
body .lotusui30_layout .lotusColLeft:after {
    border-left:none;
    border-right:none;
    xbackground-color:white;
}
body.lotusui30 div.lotusTitleBar .lotusInner .lotusHeading {
    display:none;
}
body.lotusui30_body .lotusMain {
    min-width: 0;
    margin-top: 30px;
}
body.lotusui30_body #lotusContent #entries,
body.lotusui30_body .lotusui30 .lotusMenu,
body .lotusui30_layout .lotusColRight .lotusSection {
    background: rgba(177,110,0,0.6);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 1vw;
}
body .blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware, 
body .blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware a {
    font-family: Courier, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 24pt;
    line-height: 24.0pt;
    color: white;
    font-weight: 300;
    padding-top: 15px;
}
body.lotusui30 a, 
body.lotusui30 a:visited, 
body div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a, 
body div#dropdownSubMenuContainer div#dropdownSubMenuTitle li a, a {
    color: white;
}
body .hikari.ics-scbanner > a, 
body .hikari.ics-scbanner > a:visited, 
body .hikari.ics-scbanner > a:hover, 
body .hikari.ics-scbanner > a:focus, 
body .hikari.ics-scbanner > a:active, 
body .gen4.ics-scbanner > a, 
body .gen4.ics-scbanner > a:visited, 
body .gen4.ics-scbanner > a:hover, 
body .gen4.ics-scbanner > a:focus, 
body .gen4.ics-scbanner > a:active, 
body .colour.ics-scbanner > a, 
body .colour.ics-scbanner > a:visited, 
body .colour.ics-scbanner > a:hover, 
body .colour.ics-scbanner > a:focus, 
body .colour.ics-scbanner > a:active,
body .ics-scbanner {
    color: black !important;
}
body .hikari.ics-scbanner > a.selected {
    color: white;
    font-weight: 800;
}

body.lotusui30 .dijitTitlePaneTitle, 
body.lotusui30 .lotusSection h2, 
body.lotusui30 .lotusWidget h2, 
body.lotusui30 .lotusWidget2 h2 {
    color: white;
}
body.lotusui30 div.lotusPlaceBar h2 {
    font-family: Courier, "Helvetica Neue Light",Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 0;
    color: white;
    font-size: 2.7em;
    position: absolute;
    top: -48px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    left: 0; 
}
body .communities-widget-appearance .lotusui30 img.discussCommunityLogo {
    border-radius: 0;
}
body.lotusui30 .dijitTitlePaneTitle, 
body.lotusui30 .lotusSection h2, 
body.lotusui30 .lotusWidget h2, 
body.lotusui30 .lotusWidget2 h2 {
    font-family: Courier, "Helvetica Neue Light",Helvetica,Arial,sans-serif;
}

@media(max-width:768px) {
    
}
@media(min-width: 660px) {
    /* break to bootstrap xs (xxs was added to be smaller) */
    
}
@media(min-width: 725px) {
    /* custom break */
     
}
@media(min-width: 768px) {
    /* break to bootstrap sm */ 
    
}
@media(min-width: 992px) {
    /* break to bootstrap md */
    
}
@media(min-width: 1200px) {
    /* break to bootstrap lg */
    
}



@media(max-width: 660px) {
    #lotusColRight {
        display:none;
    }
}
@media(max-width:1200px) {
    ul#blogsActionBar {
        top:0;
    }
}