/* blogs.css */

.lotusui30 a, 
.lotusui30 a:visited, 
div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a, 
div#dropdownSubMenuContainer div#dropdownSubMenuTitle li a, 
a {
    color: #4178be;
}
.redBorder {
    border: 1pt solid red;
}
.blueBorder {
    border: 1pt solid blue;
}
.greenBorder {
    border: 1pt solid green;
}
.blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware,
.blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware a {
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size: 18.0pt;
    line-height: 24.0pt;
    color: #4b0082;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1pt solid #ddd; 
}
.blogsFixedTable .entryContentContainerTD.blogsWrapText h4.bidiAware a {
    border-bottom:none;   
}
.blogsFixedTable .entryContentContainerTD.blogsWrapText .lotusMeta.lotusLeft,
.lotusLayout.lotusHeader.blogsWrapText h1 {
    display:none;
}
.blog .entryContentContainer.blogsWrapText {
    margin-top: 0;
}
.lotusui30_body .lotusMain,
.lotusui30_body .lotusFrame {
    min-width: 0; 
}
.lotusui30_body .lotusFrame.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.lotusui30_layout .lotusColRight.col-xxs-3,
.lotusui30_layout .lotusColLeft.col-xxs-3 {
    width: 25%;
    min-height:1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.lotusui30_layout .lotusColRight.col-xxs-4,
.lotusui30_layout .lotusColLeft.col-xxs-4 {
    width: 33%;
    min-height:1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.lotusui30_layout .lotusColRight.col-xxs-6,
.lotusui30_layout .lotusColLeft.col-xxs-6 {
    width: 50%;
    min-height:1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.lotusui30_layout .lotusColRight.col-xxs-8,
.lotusui30_layout .lotusColLeft.col-xxs-8 {
    width: 66%;
    min-height:1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.lotusui30_layout .lotusColRight.col-xxs-9,
.lotusui30_layout .lotusColLeft.col-xxs-9 {
    width: 75%;
    min-height:1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.lotusui30_layout .lotusColRight.col-xxs-12,
.lotusui30_layout .lotusColLeft.col-xxs-12 {
    width: 100%;
    min-height:1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.lotusui30_layout .lotusColRight .lotusSection {
    width: 100%;
    max-width: none;
}
.lotusui30_layout .lotusColLeft .personinlinemenu {
    width: 100%;
    max-width: none;
    background: white;
}
.lotusui30_layout .lotusColLeft:after {
    border-left: 1000vw solid white;
    background: none;
    border-right: none;
    margin-left: -980vw;
}
div#dropdownNavMenuContainer, div#dropdownSubMenuContainer {
    width: 90%;
}
div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
    max-width: 8vw;
    white-space: normal;
}
.lotusui30 div.lotusPlaceBar h2 {
    margin-left: 25vw;
}
.lotusui30 .lotusLike {
    top: -30px;
    position: relative;
}
.lotusui30_layout .lotusColLeft {
    background: none;
}
.lotusui30_layout .lotusColLeft,
.lotusui30_layout .lotusColRight {
    margin-right: 0; 
    margin-left: 0; 
}
.lotusui30 div.lotusPlaceBar h2 {
    top: -20px;
}
.lotusliveui, 
.lotusliveui30, 
.scloud3 {
    font: normal 1.1em/1.5 "Helvetica Neue", Sans-Serif,Helvetica, Arial, Roboto;
}
.lotusui30_layout .lotusMain .lotusContent {
    padding: 0 15px 0 15px;
}
.lotusui30 .lotusMain span.lotusBtn a {
    margin-top: 10px;
}
div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
    max-width: 11vw;
    white-space: normal;
}
ul#blogsActionBar {
    position: absolute;
    left: 50vw;
    margin: 0;
    padding: 0;
}
ul#blogsActionBar li {
    display:block;
    margin: 0;
    padding: 0;
    border: none;
}

@media(max-width:768px) {
    .lotusui30 .lotusActionBar {
        height: 4.5em;
    }
    .lotusui30 .lotusMain span.lotusBtn a {
        margin-top: 10px;
    }
    div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
    div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
        max-width: 30vw;
        white-space: normal;
    }
    .lotusui30 .lotusTitleBar .lotusRightCorner,
    .lotusui30 .lotusPlaceBar {
        display:none;
    }
}
@media(min-width: 660px) {
    /* break to bootstrap xs (xxs was added to be smaller) */
    div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
    div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
        max-width: 10vw;
        white-space: normal;
    }  
    .lotusui30_layout .lotusColRight.col-xs-3,
    .lotusui30_layout .lotusColLeft.col-xs-3 {
        width: 25%;
    }
    .lotusui30_layout .lotusColRight.col-xs-4,
    .lotusui30_layout .lotusColLeft.col-xs-4 {
        width: 33%;
    }
    .lotusui30_layout .lotusColRight.col-xs-6,
    .lotusui30_layout .lotusColLeft.col-xs-6 {
        width: 50%;
    }
    .lotusui30_layout .lotusColRight.col-xs-8,
    .lotusui30_layout .lotusColLeft.col-xs-8 {
        width: 66%;
    }
    .lotusui30_layout .lotusColRight.col-xs-9,
    .lotusui30_layout .lotusColLeft.col-xs-9 {
        width: 75%;
    }
    .lotusui30_layout .lotusColRight.col-xs-12,
    .lotusui30_layout .lotusColLeft.col-xs-12 {
        width: 100%;
    }
}
@media(min-width: 725px) {
    /* custom break */
    div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
    div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
        max-width: 20vw;
        white-space: normal;
    } 
}
@media(min-width: 768px) {
    /* break to bootstrap sm */ 
    .lotusui30 .lotusActionBar {
        height: 4em;
    }
    .lotusui30 .lotusMain span.lotusBtn a {
        margin-top: 0;
    }
    .lotusui30_layout .lotusColRight.col-sm-3,
    .lotusui30_layout .lotusColLeft.col-sm-3 {
        width: 25%;
    }
    .lotusui30_layout .lotusColRight.col-sm-4,
    .lotusui30_layout .lotusColLeft.col-sm-4 {
        width: 33%;
    }
    .lotusui30_layout .lotusColRight.col-sm-6,
    .lotusui30_layout .lotusColLeft.col-sm-6 {
        width: 50%;
    }
    .lotusui30_layout .lotusColRight.col-sm-8,
    .lotusui30_layout .lotusColLeft.col-sm-8 {
        width: 66%;
    }
    .lotusui30_layout .lotusColRight.col-sm-9,
    .lotusui30_layout .lotusColLeft.col-sm-9 {
        width: 75%;
    }
    .lotusui30_layout .lotusColRight.col-sm-12,
    .lotusui30_layout .lotusColLeft.col-sm-12 {
        width: 100%;
    }
}
@media(min-width: 992px) {
    /* break to bootstrap md */
    .lotusui30_layout .lotusColRight.col-md-3,
    .lotusui30_layout .lotusColLeft.col-md-3 {
        width: 25%;
    }
    .lotusui30_layout .lotusColRight.col-md-4,
    .lotusui30_layout .lotusColLeft.col-md-4 {
        width: 33%;
    }
    .lotusui30_layout .lotusColRight.col-md-6,
    .lotusui30_layout .lotusColLeft.col-md-6 {
        width: 50%;
    }
    .lotusui30_layout .lotusColRight.col-md-8,
    .lotusui30_layout .lotusColLeft.col-md-8 {
        width: 66%;
    }
    .lotusui30_layout .lotusColRight.col-md-9,
    .lotusui30_layout .lotusColLeft.col-md-9 {
        width: 75%;
    }
    .lotusui30_layout .lotusColRight.col-md-12,
    .lotusui30_layout .lotusColLeft.col-md-12 {
        width: 100%;
    }
}
@media(min-width: 1200px) {
    /* break to bootstrap lg */
    div#dropdownNavMenuContainer div#dropdownNavMenuSelection, 
    div#dropdownSubMenuContainer div#dropdownSubMenuSelection {
        max-width: 11vw;
        white-space: normal;
    } 
    .lotusui30_layout .lotusColRight.col-lg-3,
    .lotusui30_layout .lotusColLeft.col-lg-3 {
        width: 25%;
    }
    .lotusui30_layout .lotusColRight.col-lg-4,
    .lotusui30_layout .lotusColLeft.col-lg-4 {
        width: 33%;
    }
    .lotusui30_layout .lotusColRight.col-lg-6,
    .lotusui30_layout .lotusColLeft.col-lg-6 {
        width: 50%;
    }
    .lotusui30_layout .lotusColRight.col-lg-8,
    .lotusui30_layout .lotusColLeft.col-lg-8 {
        width: 66%;
    }
    .lotusui30_layout .lotusColRight.col-lg-9,
    .lotusui30_layout .lotusColLeft.col-lg-9 {
        width: 75%;
    }
    .lotusui30_layout .lotusColRight.col-lg-12,
    .lotusui30_layout .lotusColLeft.col-lg-12 {
        width: 100%;
    }
}



@media(max-width: 450px) {
    
}