body.lotusui30_body {
    background: #ffb130 url(https://images.unsplash.com/photo-1489710437720-ebb67ec84dd2);
    background-size: contain;
    background-repeat: no-repeat;
}
body .ics-scbanner {
    background-color: #ffb130;
    font-family: Courier, sans-serif;
    font-size: 13px;
}
body .ics-scbanner > .selected::after {
    border-bottom-color: #c84040;
}
body .ics-scbanner > .selected:hover::after {
    border-bottom-color: #a42a2a;
}
body .lotusui30_layout .lotusColRight,
body .lotusui30_layout .lotusColLeft {
    float: none;
    margin-left: 0;
    margin-right: 0;
}

body .lotusui30_layout .lotusMain .lotusContent:before {
    left: 0;
}
body .lotusui30_layout .lotusMain .lotusContent {
    padding: 15px 20px 15px 15px;
}
body #lotusColRight.lotusColRight,
body .lotusui30_layout .lotusColLeft,
body .lotusui30_layout .lotusMain .lotusContent:before{
    background: rgba(255,255,255,0.8);
    
}
