.lotusui30 a, 
.lotusui30 a:visited, 
div#dropdownNavMenuContainer div#dropdownNavMenuTitle li a, 
div#dropdownSubMenuContainer div#dropdownSubMenuTitle li a, 
a {
    color: red;
}

.lotusui30 div.lotusHeader {
    margin-bottom: 0;
}

.lotusui30 .lotusPlaceBar .lotusInlinelist.lotusRight {
    position: absolute;
    top: -45px;
    right: 20px;
}
/* https://cdn.rawgit.com/JSG1901/Muse/master/ProjectMuse.css */